@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    position: relative;

}

header {
    background-color: #ffffff;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.headers {
    background-color: #161616;
    width: 90%;
    height: auto;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header-left {
    height: auto;
    margin: 0px 0px 0px 70px;
    width: 70%;
}

.header-left-1 {
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 0px;
}

.header-left-2 {
    color: #dcdcdc;
    font-size: 12px;
}

.button1 {
    background-color: #dd0000;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 10px;
    margin-left: 0px;
}

.button1 i {
    margin-left: 10px;
    font-size: 11px;
}

.header-right img {
    width: auto;
    height: 325px;
}

/*--------------------------------
 header finished 
 ---------------------------------*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;

}

.container {
    display: flex;
    width: 1200px;
}

.container-left {
    background-color: #161616;
    width: 230px;
    height: 233px;
    border-radius: 10px;
    position: relative;
}



.left1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 13px 0px;
}

button {
    width: 180px;
    height: 45px;
    margin: 12px;
    border-radius: 10px;
    font-style: normal;
    font-weight: 550;
    font-size: 15px;
    color: #161616;

}

.left1 button:hover {
    background-color: #dd0000;
    color: #dcdcdc;
}

.container-right {
    width: 970px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 3fr);

}

.container-right1 {
    width: 300px;
    border-radius: 10px;
    margin: 0px 0px 22px 22px;
    border: 1px solid #f2f2f2;
    padding-bottom: 10px;
}

.container-right1 img {
    width: 300px;

}

.container-right1 button {
    padding: 5px 10px 5px 10px;
    font-size: 13px;
    font-weight: 500;
    width: 100px;
    height: 30px;
    margin: 10px 0px 0px 20px;
    border-radius: 5px;
    border: 1px solid #161616;

}

.container-right1 p {
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
    padding-left: 20px;

}

.fa-regular {
    margin-left: 20px;
    color: #606060;
    font-size: 13px;

}

.clock {
    padding-left: 10px;
    font-family: 'Poppins';
    font-style: normal;
}

.footer {
    background-color: #161616;
    color: #ffffff;

}

.footer h1 {
    text-align: center;
    font-size: 30px;
    padding: 70px 0px 10px 0px;
}

hr {
    width: 90%;
    align-items: center;
    height: 0px;
    border: 1px solid #2c2c2c;

}

.contacts {
    justify-items: center;
    height: 100px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 70px;
    margin-top: 34px;
    color: #b9b9b9;
}

.contact {
    font-size: 12px;
    text-align: center;
    display: flex;

}

.contact1 {
    padding-left: 40px;
    font-size: 12px;
}


/* -------------------------------------- 
next button page
--------------------------------*/
.contain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.containeres {
    width: 300px;
    height: 180px;
    border: 1px solid #f0f0f0;
    margin-left: 25px;
    border-radius: 5px;
    margin: 0px 0px 22px 22px;


}

.container-link {
    margin-top: 30px;

}

.container-link-1 {
    display: flex;
    justify-content: center;
}

.container-link-1 img {
    width: 100px;
    height: 50px;
}

.container-link-1 h5 {
    margin: 15px 15px 0px 15px;

}

.container-link-2 h5 {
    margin: 15px 0px 0px 0px;
    font-size: 15px;
    text-align: center;
}

.container-link-2 p {
    font-size: 10px;
    color: #767676;
    font-weight: 450;
    align-items: center;
    text-align: center;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 688px)and (max-width:992px) {


    .headers {
        height: 400px;
    }

    .header-right img {
        width: 333px;
        height: 400px;
    }

    main {
        margin-top: 10px;
    }

    .container {
        display: flex;
        width: 1200px;
        align-items: center;
        flex-direction: column;

    }

    .container-left {
        width: 100%;
        background: none;
        height: 5px;
    }

    .left1 {
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    button {
        width: 210px;
    }

    .container-right {
        margin-top: 100px;
        grid-template-columns: repeat(2, 1fr);
        width: 680px;
    }

    .container-right1 {
        margin-left: 0px;
        margin-bottom: 30px;
        width: 330px;
    }

    .container-right1 img {
        width: 330px;
    }

    .container-right1 button {
        height: 30px;
    }

    .contacts {
        display: grid;
        grid-template-columns: repeat(4, 3fr);
    }

    .contact1 {
        /* margin-left: 150px; */
    }
}

/* -------------------------------------------------------------------------- */

@media only screen and (max-width: 600px) {

    .headers {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;

    }

    .header-left {
        margin-left: 50px;
    }

    main {
        display: grid;
        /* grid-template-columns: repeat(1, 1fr); */
        margin-top: 0px;
    }

    .container {
        display: grid;
        justify-content: center;
        width: 100%;
        /* grid-template-columns: repeat(1, 1fr); */
        /* flex-direction: column; */
    }

    .container-left {
        margin-left: 70px;
        background: none;
    }

    .container-right {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 15px;
    }

    .footer {
        height: 450px;
    }

    .footer h1 {
        margin: 0px;
        padding-top: 30px;
        font-size: 20px;
    }

    .contacts {
        flex-direction: column;
        align-items: center;
        margin-right: 150px;
        width: 100%;
        padding-left: 0px;
        height: 250px;
        margin-top: 0px;
    }

    .contact1 {
        padding-left: 0px;
    }
}